html {
    background-color: #644848;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 1rem;
}

div {
    height: 2rem;
}