{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to detoX</h1>
        <nav>
          {% if user.is_authenticated %}
            <ul>
                <li class="nav-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
            </ul>
        {% else %}
            <ul>
                <li class="nav-item">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'invite' %}">Enter invitation code</a>
                </li>
            </ul>
        {% endif %}
        </nav>
    </header>
    <main>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </main>
    <footer>
        <p>&copy; 2025</p>
    </footer>
    
</body>
</html>