{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

{% block head %}
<link rel="stylesheet" href="{% static 'css/legal.css' %}" />
{% endblock %}
</head>
<body>

{% block content %}
<div class="legal-container">
    <div class="legal-header">
        <h2>Privacy Policy</h2>
    </div>

    <div class="legal-content">
        <pre>{{ privacy_content }}</pre>
    </div>

    <div class="legal-footer">
        <button type="button" class="btn secondary" onclick="window.close()">Close</button>
    </div>
</div>
{% endblock %}
</body>
</html>